
body{
    background-image : url("main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.max-width-container-header{
    background-color:black;
	margin-top:0px;
	width:100%;
	height:2.7cm;	
}
h3{
	color:#1a80c9;
	padding-top:0.5cm;
}
#about{
	color:black;
}
.dropdown{
	float:right;
	padding-right:100px;
}
.card{
	background-color:#1a80c9;
	margin-top:4cm;
	opacity:0.5;
}
#text {
	padding-top:20px;
	font-size:70px;
	font-family:"Times New Roman", Times, Serif;
}
.footer {
	margin-top:100px;
	height:1cm;
	width:100%;
	background-color:black;
}
#contact {
	text-align:center;
	color:#1a80c9;
}
.footer1{
	padding-bottom:0px;
	margin-top:525px;
	height:1cm;
	width:100%;
	background-color:black;
}
.card{
	background-color:black;
	opacity:0.5;
}
#body{
	margin-top:130px;
	width:50%;
	
}
#style{
	color:white;
	font-family:helvitica;
	font-size:30px;
}




