{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="bootstrap-4.3.1-dist\css\bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="bootstrap-4.3.1-dist\js\bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="{% static 'style2.css' %}" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle violence management</title>
</head>

<body>
    <div class="max-width-container-header">
        <h3>
            <center>TRAFFIC VIOLATION MANAGEMENT</center>
        </h3>
        <div class="right">
            <a href="{% url 'index' %}">Logout<i class="fas fa-home"></i></a>
        </div>
        <div class="card-header">
            <h3>Search Complaints</h3>
            <form action="searchComp" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="reg_no" class="form-control" placeholder="Search" aria-label="Search"
                        aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" action="searchComp" type="submit">Go</button>
                    </div>
                </div>
            </form>
        </div>
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Vehicle-Reg</th>
                    <th scope="col">Date</th>
                    <th scope="col">Place</th>
                    <th scope="col">Time</th>
                    <th scope="col">Violation</th>
                    <th scope="col">Fine</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for r in rows %}
                <tr>
                    {% for e in r %}
                    <td>{{e.id}}</td>
                    <td>{{e.reg}}</td>
                    <td>{{e.date}}</td>
                    <td>{{e.place}}</td>
                    <td>{{e.time}}</td>
                    <td>{{e.viol}}</td>
                    <td>{{e.fine}}</td>
                    <td>{{e.status}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        {% if fail %}
        <script>alert('Not found!!')</script>

        {% endif %}

        <div class="footer1">
            <p id="contact"> contact : +91 678736258 | 0821-6754601 <p>
        </div>
</body>

</html>