{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href = "bootstrap-4.3.1-dist\css\bootstrap.min.css" type= "text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type = "text/javascript" src = "bootstrap-4.3.1-dist\js\bootstrap.min.js"></script>
    <link href="{% static 'style2.css' %}" type="text/css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle violence management</title>
</head>
<body>
    <div class ="max-width-container-header">
        <h3>  
        <center>TRAFFIC VIOLATION MANAGEMENT</center>
        </h3>
		<div class= "right">
		<a href = "main.html"> Home<i class ="fas fa-home">&nbsp | &nbsp </i></a>
		<a href="aboutus.html">About Us <i class="fas fa-file"> &nbsp | &nbsp </i> </a>
		<a href="service.html">Services <i class="fas fa-list-alt"></i></a>
		<div class="dropdown">
  <button type="button" class="btn btn-link" data-toggle="dropdown">
    Login &nbsp<i class="fas fa-user"></i>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="user.html">User Login</a>
    <a class="dropdown-item" href="admin.html">Admin Login</a>
  </div>
</div>
</div>
<div class = "card">
<div class = "card-header bg-secondary">
<h2 id ="underline"><u>SERVICES</u></h2>
</div>
</div>
<div class="footer1">
		<p id ="contact"> contact : +91 678736258 | 0821-6754601 <p>
	</div>
</body>
</html>