{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap-4.3.1-dist\css\bootstrap.min.css" type="text/css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script type="text/javascript" src="bootstrap-4.3.1-dist\js\bootstrap.min.js"></script>
	<link href="{% static 'user_login.css' %}" type="text/css" rel="stylesheet">
</head>

<body id="imag">
  <div class="split right">
    <h1 id="color">User Login</h1>
    <div class="container">
        <form action="authUser" method="POST">
            {% csrf_token %}
        <label for="usrname"><b>Driving License Number</b></label><br>
        <input type="text" name="id" placeholder="Enter DL Number (eg:KA01 20160000000)" pattern="^[A-Z]{2}[0-9]{1,2}[ -][0-9]{11}$"
          title="enter DL number" required>
        <br>
        <label for="psw"><b>Password</b></label><br>
        <input type="password" name="password"placeholder="Enter Password"
          title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
          required>
        <a href="loggedin.html">
          <input type="Submit" value="Submit"></a>
      </form>
      {% if fail %}
      <script>alert('Invalid credentials!!')</script>
    
    {% endif %}
      <a href="userRegPage">Register now</a>
    </div>
  </div>
</body>

</html>
